# Keep in sync with .gitignore.
*~
.tmp
.DS_Store
npm-debug.log
/tmp/*
/build/*
/demos/*
/dist/*
/docs/*
/scripts/*
/test/*
.idea

.jshintrc
.travis.yml
CONTRIBUTING.md
jsdoc.md
jsdoc-conf.json
testem.json

# Publish build to npm.
!/dist/marzipano.js
